<h1>Prayer Pages Home</h1>

<%= todaysVerse.html_safe %>

<%= link_to "Daily Reading", "http://markmcfadden.net/prayerweb/DailyReading/12.html" %> | 
<%= link_to "Daily Prayer", "http://markmcfadden.net/prayerweb/DailyPrayerRequests.aspx" %>
<br/>
<%= getMemoryVerses.html_safe %>
