<h1>Prayer Today</h1>
<table class="today">
  <tr>
		<th class="today">Category</th>
		<th class="today">Content</th>
	</tr>

<% @todaysRequests.each do |request| %>
	<tr>
		<td class="today" id="category"><%= request.category_name %></td>
		<td class="today" id="prayerContent"><%= request.content %></td>
  </tr>
<% end %>
</table>

<!-- drop down of all requests -->
<br/><br/>
<%= collection_select(:category, :id, @allPrayerCategories, :id, :name, :prompt => true) %>
<br/><br/>

<div id="displaySelection"></div>

<script>
	$('#category_id').change( function() {
		var theURL = "/requests/byCategory/" + $('#category_id').val()
		$.ajax({url: theURL,
    	success: function(data){
				$('#displaySelection').html(data);
      }
    })
	});
</script

<%= getESVPassage("Psalm " + @thePsalmChapter.to_s).html_safe %>


