<div>
	<table class="today">
  	<tr>
			<th class="today">Category</th>
			<th class="today">Content</th>
		</tr>
		<tr>
			<td class="today" id="category"><%= @request.category_name %></td>
			<td class="today" id="prayerContent"><%= @request.content %></td>
  	</tr>
</table>
</div>
